/* 
* @Author: Eslam El-Meniawy
* @Date: 2015-08-26 09:59:10
* @Last Modified by: eslam
* @Last Modified time: 2015-10-07 12:18:34
*
* Dear maintainer:
* When I wrote this, only God and I understood what I was doing
* Now, God only knows
* So, good luck maintaining the code :D
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
html, body, .mdl-layout__content, .page-content {
	width: 100%;
}
.page-content .mdl-grid  {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
td {
	max-width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.drawer-title {
	color: transparent;
}
.drawer-div-center {
	text-align: center;
}
.rtl {
	direction: rtl;
}
.no-decoration {
	text-decoration: none;
}
.position-relative {
	position: relative;
}
.float-right {
	float: right;
}
.half {
	width: 50%;
}
.color-main {
	color: #607D8B;
}
.color-accent {
	color: #FF5252;
}
.color-white {
	color: #fff;
}
.background-main {
	background: #253c4c;
}
.background-grey {
	background: #dadada;
}
.color-dark {
	color: #070a0d;
}
.hide {
	display: none;
}
.drawer-border-dark {
	border-right: 1px solid #070a0d;
}
.center-horizontal {
	display: block;
	margin: auto;
}
hr {
	border-color: #070a0d;
}
.search-button {
	margin: 4px;
	position: absolute;
	color: rgb(255,255,255);
	background-color: inherit;
	display: block;
	height: 48px;
	width: 48px;
	border: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	font-size: 26px;
	line-height: 50px;
	font-family: Helvetica,Arial,sans-serif;
	top: 0;
	right: 0;
	color: rgb(255,255,255);
	z-index: 4;
}
.header-row {
	height: 56px;
	line-height: 56px;
}
.header-row span {
	line-height: 56px;
}
.mdl-layout__header span {
	width: 100%;
	text-align: center;
	line-height: 56px;
}
.mainSlider-title {
	height: 30px;
}
.reports-image-title {
	position: absolute;
	bottom: 0;
	color: #ffffff;
	width: 100%;
	background: rgba(0,0,0,0.2);
	margin: 0;
	padding: 1% 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.more-button {
	position: fixed;
	right: 24px;
	bottom: 24px;
	z-index: 99999;
}
.cars-car-price {
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: bold;
}
.cars-title {
	margin: 0 0 1%;
}
.details-img {
	width: 100%;
}
.details-title-block {
	width: 100%;
	display: block;
}
.details-title-h6 {
	line-height: 2.3;
	margin: 0;
	padding-right: 8px;
}
.details-data-block {
	margin-top: 16px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
}
.details-title-h5 {
	margin: 0;
}
.swiper-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-pagination-bullet {
	background: #fff;
	opacity: 0.6;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #FF5252;
}
.swiper-container-horizontal > .swiper-pagination {
	bottom: 30px;
	background: rgba(0,0,0,0.2);
}
.swiper-container-horizontal > .swiper-pagination-shops {
	bottom: 0;
	background: rgba(0,0,0,0.2);
}
.main-img {
	width: 100%;
}
.main-title {
	background: #fff;
	width: 100%;
	height: 40px;
}
.main-block {
	margin: 16px 0;
}
.main-title-content {
	padding: 8px;
	overflow: hidden;
    white-space: nowrap;
    max-width: 50%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-title-h5 {
	margin: 0;
}
.main-title-price {
	float: left;
	text-align: left;
	font-weight: bold;
}
.main-block-header {
	width: 100%;
	height: 25px;
	color: #000;
	margin-bottom: 8px;
}
.main-block-header-title {
	margin: 0;
	padding-right: 8px;
	overflow: hidden;
    white-space: nowrap;
}
.main-block-header-icon {
	position: absolute;
	right: 0;
}
.main-block-header-link {
	position: absolute;
	right: 25px;
}
.mdl-layout__tab {
	line-height: 1;
}
.mdl-textfield__label, .mdl-textfield__input {
	text-align: right;
}
.multiSliderMargin {
	margin-top: 30px;
	margin-bottom: 20px;
}
.multiSliderLabelMargin {
	margin-bottom: 0;
}
.used-year-margin {
	margin: 0 8px;
}
.used-year-padding {
	padding: 0 8px;
}
.used-search-button {
	margin-top: 8px;
}
.paper-snackbar {
	transition-property: opacity, bottom, left, right, width, margin, border-radius;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	font-size: 14px;
	min-height: 14px;
	background-color: #323232;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	line-height: 22px;
	padding: 18px 24px;
	bottom: 0px;
	opacity: 0;
	left: 0px;
	right: 0px;
	direction: rtl;
	z-index: 999999;
}
.paper-snackbar .action {
	background: inherit;
	display: inline-block;
	border: none;
	font-size: inherit;
	color: #FF5252;
	margin: 0px 24px 0px 0px;
	padding: 0px;
	min-width: min-content;
}
.loading {
	position: absolute;
	top: 0;
	z-index: 99999;
	width: 100%;
	text-align: center;
	margin-top: 8px;
	display: none;
}
.suggestions {
	width: 100%;
	overflow: scroll;
}
.suggestions > ul {
	opacity: 1;
	z-index: 5;
	position: relative;
}
.suggestions > ul > li {
	opacity: 1;
	text-align: right;
}
.search-results-number {
	padding: 8px;
	text-align: center;
}
/* mobile */
@media screen and (max-width: 599px) {
	.mdl-layout__drawer-button img {
		margin-bottom: 8px;
	}
    .details-img, .swiper-container-main {
        height: 200px;
    }
    .main-img {
    	height: 100px;
    }
    .swiper-container-new, .swiper-container-used {
    	height: 140px;
    }
    .suggestions {
    	max-height: 150px;
    }
}
/* tab */
@media screen and (min-width: 600px) {
	.mdl-layout__drawer-button img {
		margin-bottom: 8px;
	}
    .details-img, .swiper-container-main {
        height: 300px;
    }
    .main-img {
    	height: 150px;
    }
    .swiper-container-new, .swiper-container-used {
    	height: 190px;
    }
    .suggestions {
    	max-height: 200px;
    }
}
/* desktop */
@media screen and (min-width: 768px) {
	.mdl-layout__drawer-button img {
		margin-bottom: 10px;
	}
    .details-img, .swiper-container-main {
        height: 400px;
    }
    .main-img {
    	height: 200px;
    }
    .swiper-container-new, .swiper-container-used {
    	height: 240px;
    }
    .suggestions {
    	max-height: 250px;
    }
}